[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
certifi = "==2020.11.8"
chardet = "==3.0.4"
distlib = "==0.3.1"
filelock = "==3.0.12"
idna = "==2.10"
pipenv = "==2020.11.15"
python-dotenv = "==0.15.0"
requests = "==2.25.0"
six = "==1.15.0"
urllib3 = "==1.26.2"
virtualenv = "==20.4.2"
virtualenv-clone = "==0.5.4"
PyYAML = "==5.4.1"
beautifulsoup4 = "*"
lxml = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
